body {
  width: 100%;
  height: 100%;
  margin: 0;
  
  text-align: center;
}

nav a {
  padding: auto 10px;
  background-color: #CCC;
}

figcaption {
  font-size: smaller;
}

#featured-property p {
  width: 800px;
  margin: 0 auto;
}

#details {
  display: block;
  margin: 10px auto 0;
}

#details div {
  float: left;
  text-align: center;
  width: 25%;
  background-color: red;
}